Django
BeautifulSoup
Markdown
PIL
South
django-extensions
django-fabtastic
django-haystack
django-pagination
django-memcache-status
django-tagging
django-taggit
docutils
easy-thumbnails
pycrypto
python-dateutil
psycopg2
smartypants
-e git+http://github.com/mikemeyer/django-shorturls.git#egg=django-shorturls
-e git+http://github.com/mintchaos/typogrify.git#egg=typogrify
-e git+http://github.com:duointeractive/django-athumb.git#egg=athumb
wsgiref
werkzeug
xapian-haystack
