Django
BeautifulSoup
Markdown
PIL
South
django-extensions
django-haystack
django-pagination
django-memcache-status
django-tagging
django-taggit
docutils
easy-thumbnails
pycrypto
python-dateutil
psycopg2
rpc4django
smartypants
-e git+http://github.com/mikemeyer/django-shorturls.git#egg=django-shorturls
-e git+http://github.com/mintchaos/typogrify.git#egg=typogrify
wsgiref
werkzeug
xapian-haystack
