{% extends "base.html" %}
{% load typogrify_tags %}
{% block bodyid %}page-about{% endblock %}
{% block page_title %} &rsaquo; {{ page.title|smartypants }}{% endblock %}
{% block bodyclass %}{% if page.status == 'd' %}draft-page{% endif %}{% endblock %}
{% block content %}

{% if page.status == 'd' %}
	<div class="draft-warning">
		<p>This page is a draft and is not visible to site visitors. <a href="{% url 'admin:content_staticpage_change' page.id %}">Fix that problem.</a></p>
	</div>
{% endif %}
<div id="about-content">
	<h2>The basic idea: trying to live a simple life and create beautiful things.</h2>
	<div class="about-text">
		{{ page.content|typogrify }}
	{% if request.user.is_authenticated %}
	<p class="edit-link"><a class="post-edit-link" href="{% url 'admin:content_staticpage_change' page.id %}">Edit</a></p>
	{% endif %}
	</div>
	<div class="elsewhere">
		<h3>Find me elsewhere:</h3>
		<ul>
			<li class="flickr"><a href="#">Flickr</a></li>
			<li class="twitter"><a href="http://twitter.com/andrewramos">Twitter</a></li>
			<li class="dribbble"><a href="http://dribbble.com/players/andrewramos">Dribbble</a></li>
		</ul>
	</div>
	<div id="contact">
		<h3>Think I&rsquo;d be a good fit for your project? Let&rsquo;s chat.</h3>
		<ul>
			<li class="email">
				<a href="mailto:studio@andrewramos.com?subject=Project%20Inquiry">
					<span class="title">Send an email</span>
					<span class="content">studio@andrewramos.com</span>
				</a>
			</li>
			<li class="phone">
				<span class="title">Call the studio</span>
				<span class="content">(864) 735-7438</span>
			</li>
			<li class="snail-mail">
				<a href="http://maps.google.com/maps?z=17&amp;cid=10876130586920751822">
					<span class="title">Drop by/snail mail</span>
					<span class="content">200 Westfield St.</span>
					<span class="content">Greenville, SC 29601</span>
				</a>
			</li>
		</ul>
	</div>
</div>

{% endblock %}