{% load thumbnail typogrify %}
<div class="portfolio-item">
	<ul class="slideshow">
	{% for piece in project.pieces.all %}
		<li><div class="portfolio-image" style="background-image:url({% thumbnail piece.image 700x370 crop %})"></div></li>
	{% endfor %}
	</ul>
	<div class="portfolio-info">
		<h2>{{ project.title|typogrify }}</h2>
{% if project.description %}
		<p>{{ project.description|typogrify }}</p>
{% endif %}
	</div>
	{% if request.user.is_authenticated %}
	<p class="edit-link"><a class="post-edit-link" href="{% url admin:portfolio_project_change project.id %}">Edit</a></p>
	{% endif %}
</div>