/* @override http://hotsauce.local:9007/showdown-textarea.css */


div.markdown-preview-container {
	width: 100%;
	padding: 1px 1px 1px 5px;
	margin-left: 100px;
	overflow: hidden;
	-webkit-text-size-adjust: none;
}

div.markdown-preview-container {
	width: 100%;
	position: relative;
	padding: 1px 1px 1px 5px;
	margin-left: 100px;
	overflow: hidden;
}

div.markdown-preview-container textarea,
div.markdown-preview-container div.markdown-preview{
	float: left;
	width: 40%!important;
}

div.markdown-preview-container textarea{

}

div.markdown-preview-container div.markdown-preview{
	width: 40%;
	float: left;
	background: #EEE;
	-webkit-border-radius: 5px;
	border: 1px solid #DDD;
	top: 0;
	font: 14px/22px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 10px 20px;
	margin: 0 0 0 10px;
	-webkit-transition: all 200ms linear;
}

div.markdown-preview-container div.markdown-preview p,
div.markdown-preview-container div.markdown-preview li{
	font: 14px/22px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-left: 0;
	padding: 0;
}

div.markdown-preview p,
div.markdown-preview h1,
div.markdown-preview h2,
div.markdown-preview h3,
div.markdown-preview h4,
div.markdown-preview h5,
div.markdown-preview h6 {
	font: 14px/22px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 15px;
	margin-top: 10px;
	background: none;
	color: #000;
	padding: 0;
}

div.markdown-preview h1{
	font-size: 14px;
	line-height: 18px;
	text-decoration: line-through;
	color: #cd312e;
}

div.markdown-preview h1:after{
	content: " (don't use H1 tags)";
}

div.markdown-preview h2{
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
}

div.markdown-preview h3{
	font-size: 20px;
	font-weight: bold;
}
div.markdown-preview h4{
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}
div.markdown-preview h5{
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
}
div.markdown-preview h6{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 16px;
}

div.markdown-preview ul,
div.markdown-preview ol{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
	margin-left: 0;
}

div.markdown-preview blockquote{
	margin: 0;
}

div.markdown-preview ul li{
	list-style-type: disc;
}

div.markdown-preview ol li{
	list-style-type: decimal;
}

div.markdown-preview blockquote{
	padding-left: 20px;
	border-left: 1px solid #a8a8a4;
}

div.markdown-preview blockquote,
div.markdown-preview blockquote p em{
	color: #a8a8a4;
}

div.markdown-preview blockquote p strong{
	color: #898885;
}

div.markdown-preview blockquote p{
	
}

#content .short-post h2{
	font-weight: bold;
	text-rendering: optimizeLegibility;
	display: inline;
}

#content .short-post p{
	display: inline;
}

div.markdown-preview em{
	font-style: italic;
}

div.markdown-preview strong{
	color: #33322c;
	font-weight: bold;
}

a{
	color: #5db6d1;
}