Django
BeautifulSoup
Markdown
PIL
South
django-athumb
django-extensions
django-fabtastic
django-pagination
django-mediasync
django-taggit
django-typogrify
docutils
easy-thumbnails
fabric
pycrypto
pysolr
python-dateutil
psycopg2
smartypants
-e git+http://github.com/meyer/django-shorturls.git#egg=django-shorturls
wsgiref
werkzeug
xapian-haystack