{% extends "blog/base.html" %}
{% load pagination_tags shorturl %}
{% block blog_content %}

{% autopaginate entries 30 %}

<ul class="entry-list" id="infinite">
{% for entry in entries %}
    <li class="entry">
    <a class="permalink" href="{{ entry.get_absolute_url }}">Permalink to {{ entry.title }}</a>
{% include entry.template_name %}
    </li>
{% empty %}
    <li class="empty">No posts have been published to the blog (yet!).</li>
{% endfor %}
</ul>

<div id="pagination">
    {% paginate %}
</div>

{% endblock %}