{% load typogrify thumbnail tagging_tags handy_utils %}

{% if entry.status == 'd' %}
    <div class="draft-warning">
        <p>This post is a draft and is not visible to site visitors. <a href="{% url admin:blog_casestudy_change entry.id %}">Fix that problem.</a></p>
    </div>
{% endif %}

<div class="entry case-study">

{% if request.user.is_authenticated %}
<a class="post-edit-link" href="{% url admin:blog_casestudy_change entry.id %}">Edit</a>
{% endif %}

{% if entry.images.all %}

<div class="slideshow featured-image">
    <ul class="slides {% if entry.image_width == 'p' %}post-width{% else %}full-width{% endif %}">
{% if entry.image_width == 'p' %}
{% for item in entry.images.all %}
        <li><div style="background-image:url({% thumbnail item.image 480x440 upscale crop %})"></div></li>
{% endfor %}
{% else %}
{% for item in entry.images.all %}
        <li><div style="background-image:url({% thumbnail item.image 700x440 upscale crop %})"></div></li>
{% endfor %}
{% endif %}
    </ul>
</div>

{% endif %}

    <div class="entry-header">
        <h2>{{ entry.title }}</h2>
    </div>
    <div class="entry-body">
        {{ entry.content|typogrify }}
        {% tags_for_object entry as tags %}
        {% if tags %}
        <p class="tag-list">{% for tag in tags %}{% if not forloop.first %}, {% endif %}<a href="/blog/tags/{{tag.name|slugify}}/">#{{ tag.name|camelcase }}</a>{% endfor %}</p>
        {% endif %}
    </div>
{% if entry.author %}
    <p class="author">{{ entry.author|typogrify }}</p>
{% endif %}

</div>