{% load typogrify thumbnail tagging_tags handy_utils %}

{% if entry.status == 'd' %}
	<div class="draft-warning">
		<p>This post is a draft and is not visible to site visitors. <a href="{% url admin:blog_shortpost_change entry.id %}">Fix that problem.</a></p>
	</div>
{% endif %}

{% with entry.title|slice:"-1:" as punctuation %}

<div class="entry short-post">

	{% if request.user.is_authenticated %}
	<a class="post-edit-link" href="{% url admin:blog_shortpost_change entry.id %}">Edit</a>
	{% endif %}

{% if punctuation == "!" or punctuation == "?" %}
	<h2>{{ entry.title }}</h2>
{% else %}
	<h2>{{ entry.title }}.</h2>
{% endif %}
{% endwith %}
<div class="entry-body">
	<p>{{ entry.content|typogrify }}</p>
	{% if entry.link %}<a class="short-post-link" href="{{ entry.link }}">{{ entry.link }}</a>{% endif %}
</div>
	{% tags_for_object entry as tags %}
	{% if tags %}
	<p class="tag-list">{% for tag in tags %}{% if not forloop.first %}, {% endif %}<a href="/blog/tags/{{tag.name|slugify}}/">#{{ tag.name|camelcase }}</a>{% endfor %}</p>
	{% endif %}

</div>