{% load typogrify thumbnail %}

{% block blog_content %}
<div class="entry article">
{% if entry.content_type %}
	<div class="featured-image">
		<div style="background-image:url({% thumbnail entry.featured_image 700x440 crop %})"></div>
	</div>
{% endif %}
	<div class="entry-header">
		<h2{% if entry.subtitle %} class="with-subtitle"{% endif %}>{{ entry.title }}</h2>
{% if entry.subtitle %}
		<h3>{{ entry.subtitle }}</h3>
{% endif %}
	</div>
	<div class="entry-body">{{ entry.content|typogrify }}</div>
</div>
{% endblock %}