{% load typogrify thumbnail %}

<div class="entry case-study">
{% if entry.images.all %}

	<div class="featured-image{% if entry.image_width == 'p' %} post-width{% else %} full-width{% endif %}">
		{% if entry.image_width == 'p' %}
		{% for img_object in entry.images.all %}
			<div style="background-image:url({% thumbnail img_object.image 480x440 crop %})"></div>
		{% endfor %}
		{% else %}
		{% for img_object in entry.images.all %}
			<div style="background-image:url({% thumbnail img_object.image 700x440 crop %})"></div>
		{% endfor %}
		{% endif %}
	</div>

{% endif %}
	<div class="entry-header">
		<h2>{{ entry.title }}</h2>
	</div>
	<div class="entry-body">{{ entry.content|typogrify|linebreaks }}</div>
{% if entry.author %}
	<p class="author">{{ entry.author|typogrify }}</p>
{% endif %}
</div>