{% load handy_utils media %}
{% url home-url as home_url %}
{% url blog-home as blog_url %}
{% url portfolio-home as portfolio_url %}
{% url about-url as about_url %}
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Andrew Ramos{% block page_title %}{% endblock %}</title>

	<link rel="alternate" type="application/rss+xml" title="AndrewRamos.com RSS" href="http://feeds.feedburner.com/andrewramos">
	<link rel="shortcut icon" href="{% media_url "images/favicon.ico" %}" />

	{% css "all.css" %}
	<!-- iPhone/iPad -->
	<meta name="format-detection" content="telephone=no">
{% if request.ipad %}
	<meta name = "viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
{% else %}
	<meta name = "viewport" content="width=768, user-scalable=1">
{% endif %}
{% comment %}
	<!-- Google AJAX API -->
	<script src="http://www.google.com/jsapi"></script>
	<script>google.load("jquery","1");</script>
{% endcomment %}
	<!-- Google sez -->
	<meta name="google-site-verification" content="KI2Yk1GWtBV3dpjfnVLrPLR0upx7J3d7W3KTyDApt4M" />

	{% js "all.js" %}

{% if not request.ios5 and request.ipad %}
	{% js "touchscroll.min.js" %}
	<script>
	$(document).ready(function(){
		var scroller = new TouchScroll(document.querySelector("#wrapper"), {elastic:true});
	});
	</script>
{% endif %}

	{% block head %}
	{% endblock %}

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-17943844-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body class="{% if request.ios5 %}ios5 {% endif %}{% if request.ipad %}ipad{% endif %}{% if request.iphone %}iphone{% endif %} {% block bodyclass %}{% endblock %}" id="{% block bodyid %}page-generic{% endblock %}">
<div id="container">
	<div id="header">
		<h1><a href="{{ home_url }}"><span>The Notebook of Andrew Ramos</span></a></h1>
		<ul id="main-nav">
			<li{% is_current request blog_url ' class="current"' %}><a href="{{ blog_url }}">The Blog</a></li>
			<li{% is_current request portfolio_url ' class="current"' %}><a href="{{ portfolio_url }}">Portfolio</a></li>
			<li{% is_current request about_url ' class="current"' %}><a href="{{ about_url }}">About</a></li>
		</ul>
		<p id="copyright-notice">&copy; {% now "Y" %} Andrew Ramos</p>
	</div>
	<div id="wrapper">
		<div id="content">
			<div id="content-inner">
{% block content %}
{% endblock %}
			</div>
		</div>
	</div>
</div>

<!-- GAUG.ES I LOVE YOU -->
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4ef0133b613f5d3137000006');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

</body>
</html>
